{% extends "base.html" %}
{% block title %}{{ block.super }} | Work{% endblock %}
{% block bodyid %}id="work"{% endblock %}
{% block content %}
    <div id="subnav" class="clearfix">
         <ul>
             <li class="on"><a href="#" class="all">All Projects</a></li>
             {% for discipline in disciplines %}
             <li><a href="#" class="{{ discipline.name|cut:" "|lower }}">{{ discipline.name }}</a></li>
             {% endfor %}
            <li><a href="#" class="academic">Academic</a></li>
            <li><a href="#" class="professional">Professional</a></li>
            <li><a href="#" class="personal">Personal</a></li>
        </ul>
    </div>
{% block projects %}
<ul class="projects">
{% for project in featured %}
{% block featured %}
    {% if forloop.first %}
    <li class="project featured {{ project.context|lower }} {% spaceless %} 
                {% for discipline in project.disciplines.all %} {{ discipline.name|cut:" "|lower }}{% endfor %}
                {% endspaceless %}">
        <div class="details">
        <h3>{{ project.title }}</h3>
            {{ project.description_html|safe|truncatewords_html:80 }}
            <p class="teaser"><a href="{% url level0.portfolio.views.project_detail project.slug %}"
               title="{{ project.title }}">Read more</a></p>
            <div class="meta">
                <p><span class="date">{{ project.date|date:"FY" }}</span><span class="context">{{ project.context }}</span></p>
                <ul>{% spaceless %}
                    {% for discipline in project.disciplines.all %}
                    <li class="discipline">{{ discipline.name }}</li>
                    {% endfor %}
                    {% endspaceless %}
                </ul>
                
            </div>
        </div>
        <div class="image">     
        {% for visual in project.projectvisual_set.all %}
            {% if visual.lead %}
            {% spaceless %}
            <a href="{% url level0.portfolio.views.project_detail project.slug %}"
               title="{{ project.title }}">
               {% if visual.content_object.original %}
               <img src="{{ visual.content_object.large.url }}"
                    width="{{ visual.content_object.large.width }}"
                    height="{{ visual.content_object.large.height }}"
                    alt="{{ project.title }}" />
               {% endif %}
            </a>
            {% endspaceless %}
            {% endif %}
        {% endfor %}
        </div>
    </li>
    {% else %}
    <li class="project listing {{ project.context|lower }} {% spaceless %}
                {% for discipline in project.disciplines.all %} {{ discipline.name|cut:" "|lower }}{% endfor %}
                {% endspaceless %}">
        <section class="title">
    	{% for visual in project.projectvisual_set.all %}
            {% if visual.lead %}
                {% if visual.content_object.original %}
                <img src="{{ visual.content_object.tile.url }}"
                     width="{{ visual.content_object.tile.width }}"
                     height="{{ visual.content_object.tile.height }}"
                     alt="{{ visual.content_object.title }}" />
                {% endif %}
            {% endif %}
       {% endfor %}
       <h3>{{ project.title }}</h3>
       <p>//{{ project.context }}{% for discipline in project.disciplines.all %}/{{ discipline.name }}{% endfor %}</p>
       </section>
       <section class="description">
            <h3><a class="card-link"  
                   href="{% url level0.portfolio.views.project_detail project.slug %}" 
                   title="{{ project.title }}">{{ project.title }}</a></h3>
                   <a class="card-link"  
                      href="{% url level0.portfolio.views.project_detail project.slug %}" 
                      title="{{ project.title }}">
                      {{ project.description_html|safe|truncatewords_html:60 }}</a>
            <p><a class="teaser"  
                  href="{% url level0.portfolio.views.project_detail project.slug %}" 
                  title="{{ project.title }}">Read more</a></p>
            <div class="meta">
                <p><span class="date">{{ project.date|date:"FY" }}</span><span class="context">{{ project.context }}</span></p>
                <ul>
                {% for discipline in project.disciplines.all %}
                    <li class="discipline">{{ discipline.name }}</li>
                {% endfor %}
                </ul>
            </div>
        </section>
    </li>
    {% endif %}

    
{% endblock featured %}
{% endfor %}

{% for project in project_list %}
    <li class="project listing {{ project.context|lower }} {% spaceless %}
                {% for discipline in project.disciplines.all %} {{ discipline.name|cut:" "|lower }}{% endfor %}
                {% endspaceless %}">
        <section class="title">
    	{% for visual in project.projectvisual_set.all %}
            {% if visual.lead %}
                {% if visual.content_object.original %}
                <img src="{{ visual.content_object.tile.url }}"
                     width="{{ visual.content_object.tile.width }}"
                     height="{{ visual.content_object.tile.height }}"
                     alt="{{ visual.content_object.title }}" />
                {% endif %}
            {% endif %}
       {% endfor %}
       <h3>{{ project.title }}</h3>
       <p>//{{ project.context }}{% for discipline in project.disciplines.all %}/{{ discipline.name }}{% endfor %}</p>
       </section>
       <section class="description">
            <h3><a class="card-link"  
                   href="{% url level0.portfolio.views.project_detail project.slug %}" 
                   title="{{ project.title }}">{{ project.title }}</a></h3>
                   <a class="card-link"  
                      href="{% url level0.portfolio.views.project_detail project.slug %}" 
                      title="{{ project.title }}">
                      {{ project.description_html|safe|truncatewords_html:60 }}</a>
            <p><a class="teaser"  
                  href="{% url level0.portfolio.views.project_detail project.slug %}" 
                  title="{{ project.title }}">Read more</a></p>
            <div class="meta">
                <p><span class="date">{{ project.date|date:"FY" }}</span><span class="context">{{ project.context }}</span></p>
                <ul>
                {% for discipline in project.disciplines.all %}
                    <li class="discipline">{{ discipline.name }}</li>
                {% endfor %}
                </ul>
            </div>
        </section>
    </li>
{% endfor %}


</ul>
{% endblock projects %}


{% endblock content %}
{% block js_local %}
<script type="text/javascript" src="/media/js/jquery/jquery.url.js"></script>
<script type="text/javascript">
function ProjectSort() {
    //substitute anchors for links
    $('#subnav a').each(function (){
        var thisLink = $(this);
        var thisClass = thisLink.attr('class');
        var currentClass = '.' + thisClass;
        var newHref = "#" + thisClass
        thisLink.attr("href", newHref);
        
        // create click functions to sort by type
        $("#subnav").find(currentClass).click(function () {
            if (currentClass != '.all') {
                $(".project").addClass('hide')
                $(".project").removeClass('show')
                $(".projects").find(currentClass).addClass('show')
                $(".projects").find(currentClass).removeClass('hide')
                $(".hide").hide(1000)
                $(".show").show(1000)
                $("#subnav li").removeClass('on')
                $(this).parent().addClass('on')
            } else {
                $(".project").removeClass('hide')
                $(".project").addClass('show')
                $(".hide").hide(1000)
                $(".show").show(1000)
                $("#subnav li").removeClass('on')
                $(".all").parent().addClass('on')
                $("#footer").show()
            }
        });
    });
    // if url includes an anchor on
    var anchor = jQuery.url.attr("anchor");
    var currentClass = '.' + anchor;
    if (anchor && anchor != 'all') {
        $("#subnav li").removeClass('on')
        $("#subnav").find(currentClass).parent().addClass('on');
        $(".project").addClass('hide')
        $(".project").removeClass('show')
        $(".projects").find(currentClass).addClass('show')
        $(".projects").find(currentClass).removeClass('hide')
        $(".hide").hide()
        $(".show").show()
    }
}

$(document).ready(function() {
	ProjectSort();
	if (!Modernizr.csstransitions) {
        var speed = 200;
        var middle = 170;
        var left = 0
        var maxWidth = 300;
        var minWidth = 0;
		$.getScript("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js");
		$(".listing").hover(
		    function () {
			    var thisCard = $(this);
			    thisCard.find(".description").css("width",minWidth);
				thisCard.find(".description").css("left",middle);
				thisCard.find(".description *").css("display","none");
				thisCard.find(".title *").not('img').css("display","none");
    			thisCard.find(".title").animate(
					{width: minWidth, left: middle}, 
					speed, 
					'easeInQuad',
					function(){
						thisCard.find(".description").css("z-index", 1000);
    					thisCard.find(".description").animate(
							{width: maxWidth, left: left}, 
							speed, 
							'easeOutQuad',
							function(){
								thisCard.find(".description *").css("display","block");
								thisCard.find(".description a").css("display","inline");
								thisCard.find(".description span").css("display","inline");
							}
				        );
					}
				);
				thisCard.find(".title img").animate({width: minWidth, left: middle}, speed,'easeInQuad');
				
			}, 
  			function () {
			     var thisCard = $(this);
    			 thisCard.find(".description").animate(
					{width: minWidth, left: middle}, 
					speed, 
					'easeInQuad',
					function(){
						thisCard.find(".description").css("z-index", 800);
						thisCard.find(".title").css("z-index", 900);
    					thisCard.find(".title").animate({width: maxWidth, left: left},speed,'easeOutQuad');
    					thisCard.find(".title img").animate(
    				        {width: maxWidth,  left: left},
    				        speed,
    				        'easeOutQuad',
    				        function() {
    				            thisCard.find(".title *").css("display","block");
    				        }
    				    );
				    }
				);
				thisCard.find(".description *").css("display","none");
  			}
		);
	}
});
</script>
{% endblock js_local %}

