{% extends "portfolio/portfolio_projects.html" %}
{% block title %}{{ block.super }} : Latest Projects{% endblock %}
{% block js %}
{{ block.super }}
{% endblock js %}
{% block content %}
<div id="work-nav">
{% load portfolio_tags %}
{% get_disciplines %}
<ul>
{% for discipline in disciplines %}
<li><a href="{{ discipline.get_absolute_url }}">{{ discipline.name }}</a></li>
{% endfor %}
</ul>
</div>
<div id="projects">
{% for project in latest %}
{% if project.featured %}
    <div class="project-featured">
        <div>
        {% for obj in project.projectvisual_set.all %}
            {% if obj.lead %}
                <a href="{{ project.get_absolute_url }}"
                   title="{{ project.title }}">
                {% if obj.content_object.tile %}
                    <img src="{{ obj.content_object.tilelarge.url }}"
                         width="{{ obj.content_object.tilelarge.width }}"
                         height="{{ obj.content_object.tilelarge.height }}"
                         alt="{{ project.title }}" />
                {% endif %}
                </a>
            {% endif %}
         {% endfor %}
        </div>
     </div>
{% endif %}
{% endfor %}
{% for project in latest %}
{% if not project.featured_work %}
    <div class="project listing">
        <a href="{% url level0.portfolio.views.project_detail project.slug %}"
                   title="{{ project.title }}">
        <div class="title">
    	{% for visual in project.projectvisual_set.all %}
            {% if visual.lead %}
                {% if visual.content_object.original %}
                <img src="{{ visual.content_object.tile.url }}"
                     width="{{ visual.content_object.tile.width }}"
                     height="{{ visual.content_object.tile.height }}"
                     alt="{{ visual.content_object.title }}" />
                {% endif %}
            {% endif %}
       {% endfor %}
       <h3>{{ project.title }}</h3>
       </div>
        <div class="description">
            <h3>{{ project.title }}</h3>
            {{ project.description_html|safe|truncatewords_html:60}}
            <p class="date">//{{ project.date|date:"FY" }}</p>
            <p>{{ project.genre }}</p>
        </div>
        </a>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
