{% extends "portfolio/portfolio_projects.html" %}
{% block title %}{{ block.super }}{% endblock %}
{% block js %}
{{ block.super }}
{% endblock js %}
{% block content %}
<div id="work-nav">
{% load portfolio_tags %}
{% get_disciplines %}
<ul>
{% for discipline in disciplines %}
<li><a href="{{ discipline.get_absolute_url }}">{{ discipline.name }}</a></li>
{% endfor %}
</ul>
</div>
<div id="projects">
{% for project in object_list %}
{% if project.featured %}
    <div class="project-featured">
        <div>
        {% for obj in project.projectvisual_set.all %}
            {% if obj.lead %}
                <a href="{{ project.get_absolute_url }}"
                   title="{{ project.title }}">
                {% if obj.content_object.tile %}
                    <img src="{{ obj.content_object.tilelarge.url }}"
                         width="{{ obj.content_object.tilelarge.width }}"
                         height="{{ obj.content_object.tilelarge.height }}"
                         alt="{{ project.title }}" />
                {% endif %}
                </a>
            {% endif %}
         {% endfor %}
        </div>
     </div>
{% endif %}
{% endfor %}
{% for project in object_list %}
<div class="project-thumb">
<a href="{{ project.get_absolute_url }}" 
               title="{{ project.title }}"
               class="block">
    <div class="image">
    {% for obj in project.projectvisual_set.all %}
        {% if obj.lead %}
                        {% if obj.content_object.tile %}
                <img src="{{ obj.content_object.tile.url }}"
                         width="{{ obj.content_object.tile.width }}"
          	         height="{{ obj.content_object.tile.height  }}"
          	         alt="{{ project.title }}" />
            {% endif %}  
        {% endif %}
     {% endfor %}
     </div>
     <div class="details">
         <h3>{{ project.title }}</h3>
         <p>{{ project.date|date:"M Y" }} / {{ project.genre }}</p>
         <ul>
         {% for obj in project.disciplines.all %}
            <li>{{ obj.name }}</li>
         {% endfor %}
         </ul>
     </div>
     </a>
</div>
{% endfor %}
</div>
{% endblock %}
