<div class="video-js-box vim-css">
<!-- Using the Video for Everybody Embed Code (modified for VP8/WebM) 
http://camendesign.com/code/video_for_everybody -->
    <video class="video-js" 
           width="{{ visual.content_object.poster.large.width }}"
           height="{{ visual.content_object.poster.large.height }}" 
           poster="{{ visual.content_object.poster.large.url }}" controls preload>
        <source src="{{ visual.content_object.video.url }}" type="video/mp4"></source>
        <!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
      	<object class="vjs-flash-fallback" 
        		width="{{ visual.content_object.poster.large.width }}" 
                height="{{ visual.content_object.poster.large.height }}" 
                type="application/x-shockwave-flash"
        		data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
        	<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
        	<param name="allowfullscreen" value="true" />
        	<param name="flashvars" value='config={"playlist":["{{ visual.content_object.poster.large.url }}", 
            	{"url":"{{ visual.content_object.video.url }}","autoPlay":false,"autoBuffering":true}]}' />
  			<!-- Image Fallback. Typically the same as the poster image. -->
            <img src="{{ visual.content_object.poster.large.url }}" type="video/mp4"></source> 
                 width="{{ visual.content_object.poster.large.width }}" 
                 height="{{ visual.content_object.poster.large.height }}" 
                 alt="{{ visual.content_object.poster.title }}" 
                 title="No video playback capabilities." />
        </object>
    </video>
    <!-- Download links provided for devices that can't play video in the browser. -->
    <p class="vjs-no-video"><strong>Download Video:</strong>
      <a href="http://video-js.zencoder.com/oceans-clip.mp4">MP4</a>,
      <a href="http://video-js.zencoder.com/oceans-clip.webm">WebM</a>,
      <a href="http://video-js.zencoder.com/oceans-clip.ogv">Ogg</a><br>
      <!-- Support VideoJS by keeping this link. -->
      <a href="http://videojs.com">HTML5 Video Player</a> by VideoJS
    </p>
</div>
<!-- End VideoJS -->



