{% extends "base.html" %}
{% block title %}{{ block.super }}: Words{% endblock %}
{% block wordsclass %}class="current"{% endblock %}
{% block sidebar %}
	<h2>Navigation</h2>
	<ul id="blog-nav">
		<li id="blog-nav-entries">
			<a href="{% url blog_entry_archive_index %}">Entries</a>
		</li>
		<li id="blog-nav-links">
			<a href="{% url blog_link_archive_index %}">Links</a>
		</li>
		<li id="blog-nav-categories">
			<a href="{% url blog_category_list %}">Categories</a>
		</li>
	</ul>
	<h2>What is this?</h2>
	{% block description %}
	{% endblock %}
	{% load blog_tags %}
	<h2>Latest Entries</h2>
	<ul>
	{% get_latest_content blog.entry 5 as latest_entries %}
	{% for entry in latest_entries %}
		<li>
			<a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>;
			posted {{ entry.pub_date|timesince }} ago.
		</li>
	{% endfor %}
	</ul>
	<h2>Latest Links</h2>
	<ul>
	{% get_latest_content blog.link 5 as latest_links %}
	{% for link in latest_links %}
		<li>
			<a href="{{ link.get_absolute_url }}">{{ link.title }}</a>;
			posted {{ link.pub_date|timesince }} ago.
		</li>
	{% endfor %}
	</ul>
{% endblock %}