<!doctype html>
{% load static %}
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!--[if IE]><![endif]-->
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
    {% block title %}
    Douglas J. Meehan
    {% endblock title %}
    </title>
    <meta name="description" content="">
    <meta name="author" content="Douglas Meehan">
    <meta name="copyright" content="&copy; {% now "Y" %} Douglas Meehan" />
    {% block css %}
    <!-- CSS : implied media="all" -->
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <!-- For the less-enabled mobile browsers like Opera Mini -->
    <link rel="stylesheet" media="handheld" href="{% static "css/handheld.css?v=1" %}">
    {% endblock css %}
    {% block js_head %}
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{% static "js/modernizr-1.5.min.js" %}"></script>
    {% endblock js_head %}
</head>
<body {% block bodyid %}{% endblock bodyid %}>
    <header class="clearfix">
        {% block header %}
        <div>
            <h1><a href="/">Dm</a></h1>
            <ul id="tagline">
                <li>Landscape Architecture</li> 
                <li>Urban Design</li>
                <li>Digital Media</li>
            </ul>
            <nav>
                <ul>
                    <li id="tab-about"><a href="/about/">About</a></li>
                    <li id="tab-work"><a href="/work/">Work</a></li>
                </ul>
            </nav>
        </div>
        {% endblock header %}
    </header>
    <div id="content" class="clearfix">
    {% block content %}
    {% endblock content %}
    </div>
    <footer>
        {% block footer %}
        <div>&copy; {% now "Y" %} Douglas Meehan</div>
        {% endblock footer %}
    </footer>
    {% block js_global %}
    <!-- Javascript at the bottom for fast page loading -->
    
      <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
      <script>!window.jQuery && document.write('<script src="{{ STATIC_URL }}js/jquery/jquery-1.4.2.min.js"><\/script>')</script>

      <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
           change the UA-XXXXX-X to be your site's ID -->
      <script>
       var _gaq = [['_setAccount', 'UA-9102912-5'], ['_trackPageview']];
       (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
       })(document, 'script');
      </script>
    {% endblock js_global %}
    {% block js_local %}
    {% endblock js_local %}
</body>
</html>
