<!DOCTYPE html>
<html>
<head>
<title>
{% block title %}
Douglas J. Meehan
{% endblock title %}
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Douglas Meehan" />
<meta name="copyright" content="&copy; {% now "Y" %} Douglas Meehan" />
{% block css %}<link href="/media/css/base.css" rel="stylesheet" />{% endblock css %}
{% block js %}
{% endblock js %}
</head>
<body {% block bodyid %}{% endblock bodyid %}>
<div id="page">
<div id="header">
{% block header %}
    <div>
        <h1><a href="/">Dm</a></h1>
        <ul id="tagline">
            <li>Landscape Architecture</li> 
            <li>Urban Design</li>
            <li>Digital Media</li>
        </ul>
        <ul id="nav">
            <li id="tab-about"><a href="/about/">About</a></li>
            <li id="tab-work"><a href="/work/">Work</a></li>
        </ul>
    </div>
{% endblock header %}
</div>
<div id="content">
{% block content %}
{% endblock content %}
</div>
<div id="footer">
    <div>&copy; {% now "Y" %} Douglas Meehan</div>
</div>
</div>
</body>
</html>
